- user_training_availability = current_user.training_availability_for training
- if user_training_availability.nil?
  = render partial: 'trainings/availability_change', locals: { training: training, user: current_user, availability: true, btn_clazz: 'btn-success', text: 'Dispo' }
  = render partial: 'trainings/availability_change', locals: { training: training, user: current_user, availability: false, btn_clazz: 'btn-danger', text: 'Pas dispo' }
- elsif user_training_availability.available?
  = link_to training_availability_path(user_training_availability, available: 0), method: :patch do
    .alert.alert-success
      %strong Dispo!
- else
  = link_to training_availability_path(user_training_availability, available: 1), method: :patch  do
    .alert.alert-danger 
      %strong Non dispo
