%tr
  %td.text-center= next_training.date.to_formatted_s(:day_hour)
  %td.text-center= render partial: 'locations/gmaps_link', locals: {location: next_training.location}
  %td.availability= render partial: 'trainings/availability', locals: {training: next_training}
