.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        .panel-title
          Tous les entrainements
      %table.table.table-bordered.table-condensed.table-hover
        = render partial: 'trainings/next_training', collection: @trainings
