%h1 Liste des entrainements
%table
  %thead
    %tr
      %th Date
      %th Lieu
      %th
      %th
  %tbody
    - @trainings.each do |training|
      %tr
        %td= training.date
        %td= training.location
        %td= link_to 'Show', training