.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        .panel-title
          Tous les entrainements
      %ul.list-group
        - @trainings.each do |training|
          %li.list-group-item= link_to training.date.to_formatted_s(:day_hour), training_path(training)