Bonjour,

Martigua se dote d'une nouvelle application pour gérer le club, les matchs et les joueurs.
Tu nous as donné ton mail et on t'as rentré dans la base.

Pour accéder à cette application, suis ce lien : 
= link_to 'test', root_url

Tu devra choisir un mot de passe (bientôt tu pourras t'inscrire par Facebook, mais pas tout de suite).

Sur cette application, tu pouras renseigner tes dispos, voir le calendrier des matchs, etc...

Pourquoi pas gardr SportEasy ? 
Parce que SportEasy ne répondait plus au besoin de martigua.

A+
Les coachs
