%tr
  - if next_match
    %td.text-center= next_match.local_team.name
    %td.text-center= next_match.visitor_team.name
    %td.text-center= format_schedule next_match
    %td.text-center
      = render partial: 'locations/gmaps_link', locals: {location: next_match.location}

