%h1 Matchs

%table.table.table-striped.table-responsive.table-bordered
  %thead
    %tr
      %th Locaux
      %th Visiteurs
      %th Horaire
      %th Salle
      %th Score final
  %tbody
    = render @matches
