%h1 Matchs

%table.table.table-striped.table-responsive.table-bordered
  %thead
    %tr
      %th.text-center Match
      %th Horaire
      %th Salle
      %th.text-center Score final
      %th.text-center Présence
  %tbody
    = render @matches
