!!!
%html
  %head
    :css
      .text-center{
        text-align: center;
      }
      .green-action{
        background: #5cb85c;
      }
      .red-action{
        background: #d9534f;
      }
      .red-action, .green-action{
        color: white;
      }
      .red-action a, .green-action a{
        color: white;
      }

  %body
    = yield
